.talk {
  display: flex;
  flex-direction: row;
  gap: 32px;

  .speaker-icon {
    img {
      border-radius: 12px;
      height: auto;
      width: 160px;
    }
  }
  @media screen and (width <= 720px) {
    .speaker-icon {
      img {
        width: 80px;
      }
    }
  }

  .description {
    width: 100%;

    .keynote {
      span {
        background: #FCECE8;
        padding: 2px 8px;
        border-radius: 2px;

        font-family: "Futura", "Jost", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      margin-bottom: 10px;
    }

    .session-title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;

      margin-bottom: 16px;
    }

    .speaker-name {
      font-family: "Futura", "Jost", sans-serif;
      font-size: 16px;
      font-weight: 500;

      margin-bottom: 16px;
    }

    .speaker-socials {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 24px;

      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        text-decoration: none;
        vertical-align: top;
      }
      @media screen and (width <= 480px) {
        a {
          font-size: 16px;
        }
      }

      .social-x,
      .social-github {
        display: flex;
        align-items: center;
      }

      .social-x {
        img {
          width: 24px;
          height: 24px;
          margin: 0 8px 0 0;
        }
        @media screen and (width <= 480px) {
          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .social-github {
        img {
          width: 30px;
          height: 30px;
          margin: 0 8px 0 0;
        }
        @media screen and (width <= 480px) {
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}
@media screen and (width <= 520px) {
  .talk {
    flex-direction: column;
    align-items: center;
  }
}
