.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;

  button {
    text-align: center;

    font-family: "Futura", "Jost", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    border-radius: 4px;
    border: none;
    padding: 16px 32px;
  }

  .default {
    background-color: #aeaeb2;
    color: #fff;
  }

  .selected {
    background-color: #000;
    color: #fff;
  }
}
@media screen and (width <= 720px) {
  .tabs {
    button {
      font-size: 15px;
    }
  }
}
