---
import NavItems from './NavItems.astro'
---

<style>
  nav {
    height: 24px;
  }
  @media screen and (width <= 720px) {
    nav {
      display: none;
    }
  }
</style>

<nav>
  <NavItems mobile={false}/>
</nav>
