* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

/* Components */
.trk12-button {
  display: inline-block;
  border: solid 2px #000;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Layout */
body {
  width: 100%;
  font-family: "Futura", "Jost", sans-serif;
  font-weight: 300;
}

nav {
  height: 24px;
  padding: 32px;
}
@media screen and (max-width: 480px) {
  nav {
    padding: 24px 16px;
  }
}
nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  nav ul {
    gap: 12px;
  }
}
nav a {
  color: #000;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 56px;
}
@media screen and (max-width: 480px) {
  header {
    padding: 16px;
  }
}
header .logo img {
  height: 75px;
}

.hero {
  width: 100%;
}
.hero .hero-inner {
  width: min(1132px, 100% - 40px);
  margin-left: auto;
  margin-right: auto;
  padding: 32px 98px;
  border-radius: 32px 32px 0 0;
  background: #dd451d;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .hero .hero-inner {
    padding: 32px 20px;
  }
}
.hero .hero-inner .primary-logo {
  width: 80%;
}
@media screen and (max-width: 480px) {
  .hero .hero-inner .primary-logo {
    width: 100%;
    height: auto;
  }
}
.hero .hero-inner .datetime {
  font-size: 36px;
  line-height: 48px;
}
@media screen and (max-width: 480px) {
  .hero .hero-inner .datetime {
    font-size: 20px;
    line-height: 26px;
  }
}
.hero .hero-inner .location {
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 480px) {
  .hero .hero-inner .location {
    font-size: 16px;
    line-height: 24px;
  }
}
.hero .hero-inner .organizing-team {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 480px) {
  .hero .hero-inner .organizing-team {
    font-size: 12px;
    line-height: 18px;
  }
}
.hero .hero-inner .buy-a-ticket {
  border: 0px;
  background: #f5f5f5;
  color: #aeaeb2;
}

.internav {
  display: flex;
  background-color: #000;
  padding: 64px 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}
@media screen and (max-width: 480px) {
  .internav {
    padding: 32px 0;
    gap: 32px;
  }
}
.internav a {
  background-color: #fff;
  border: 0px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px 154px 200px 154px;
  background-color: #fcece8;
}
@media screen and (max-width: 960px) {
  main {
    padding: 48px 0 80px 0;
  }
}
@media screen and (max-width: 480px) {
  main {
    padding: 48px 0 80px 0;
  }
}
main .panel {
  border-radius: 32px;
  padding: 48px 96px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  main .panel {
    border-radius: 0;
    padding: 32px 24px;
  }
}
main .panel .header {
  margin-bottom: 48px;
}
main .panel .header h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  vertical-align: middle;
}
main .panel .header h2 .subtitle {
  font-size: 24px;
  line-height: 36px;
}
main .panel .minipanel {
  margin-bottom: 48px;
  border-radius: 24px;
  padding: 32px;
  background-color: #fcece8;
}
main .panel .minipanel h3 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}
main .panel .news {
  margin-bottom: 16px;
}
main .panel .keynote-speaker {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker {
    flex-direction: column;
  }
}
main .panel .keynote-speaker .icon img {
  width: 320px;
  border: 1px;
  border-radius: 12px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .icon img {
    width: 240px;
  }
}
main .panel .keynote-speaker .description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main .panel .keynote-speaker .description .social {
  line-height: 32px;
}
main .panel .keynote-speaker .description .social img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .description .social img {
    width: 16px;
    height: 16px;
  }
}
main .panel .keynote-speaker .description .social a {
  text-decoration: none;
  font-size: 20px;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .description .social a {
    font-size: 16px;
  }
}
main .panel .call-for-sponsors {
  background-color: #f5f5f5;
}
main .panel .call-for-sponsors .title {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
main .panel .call-for-sponsors .title h3 {
  font-size: 24px;
  line-height: 36px;
}
main .panel .call-for-sponsors .title .pill {
  height: fit-content;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #dd451d;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}

footer {
  width: 100%;
  padding: 48px 56px;
  background: #dd451d;
  color: #fff;
}
footer nav {
  margin-left: auto;
}
footer nav ul {
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  footer nav ul {
    justify-content: center;
  }
}
footer nav ul a {
  color: #fff;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
