* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}


/* Layout */
body {
  width: 100%;
  font-family: "Futura", "Jost", sans-serif;
  font-weight: 300;
}

.internav {
  display: flex;
  background-color: #000;
  padding: 64px 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}
@media screen and (max-width: 480px) {
  .internav {
    padding: 32px 0;
    gap: 32px;
  }
}
.internav a {
  background-color: #fff;
  border: 0px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px 154px 200px 154px;
  background-color: #fcece8;
}
@media screen and (max-width: 960px) {
  main {
    padding: 48px 0 80px 0;
  }
}
@media screen and (max-width: 480px) {
  main {
    padding: 48px 0 80px 0;
  }
}
main .panel {
  border-radius: 32px;
  padding: 48px 96px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  main .panel {
    border-radius: 0;
    padding: 32px 24px;
  }
}
main .panel .header {
  margin-bottom: 48px;
}
main .panel .header h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  vertical-align: middle;
}
main .panel .header h2 .subtitle {
  font-size: 24px;
  line-height: 36px;
}
main .panel .minipanel {
  margin-bottom: 48px;
  border-radius: 24px;
  padding: 32px;
  background-color: #fcece8;
}
main .panel .minipanel h3 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}
main .panel .news {
  margin-bottom: 16px;
}
main .panel .keynote-speaker {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker {
    flex-direction: column;
  }
}
main .panel .keynote-speaker .icon img {
  width: 320px;
  border: 1px;
  border-radius: 12px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .icon img {
    width: 240px;
  }
}
main .panel .keynote-speaker .description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main .panel .keynote-speaker .description .social {
  line-height: 32px;
}
main .panel .keynote-speaker .description .social img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .description .social img {
    width: 16px;
    height: 16px;
  }
}
main .panel .keynote-speaker .description .social a {
  text-decoration: none;
  font-size: 20px;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  main .panel .keynote-speaker .description .social a {
    font-size: 16px;
  }
}
main .panel .call-for-sponsors {
  background-color: #f5f5f5;
}
main .panel .call-for-sponsors .title {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
main .panel .call-for-sponsors .title h3 {
  font-size: 24px;
  line-height: 36px;
}
main .panel .call-for-sponsors .title .pill {
  height: fit-content;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #dd451d;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}

footer {
  width: 100%;
  padding: 48px 56px;
  background: #dd451d;
  color: #fff;
}
footer nav {
  margin-left: auto;
}
footer nav ul {
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  footer nav ul {
    justify-content: center;
  }
}
footer nav ul a {
  color: #fff;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
