* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}


/* Layout */
body {
  width: 100%;
  font-family: "Futura", "Jost", sans-serif;
  font-weight: 300;
}

footer {
  width: 100%;
  padding: 48px 56px;
  background: #dd451d;
  color: #fff;
}
footer nav {
  margin-left: auto;
}
footer nav ul {
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  footer nav ul {
    justify-content: center;
  }
}
footer nav ul a {
  color: #fff;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
