---
---

<style>
  footer {
    width: 100%;
    padding: 8px;
    background: #000;
    color: #fff;
  }

  footer .copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    font-family: "Futura", "Jost", sans-serif;
  }
</style>

<footer>
  <div class="copyright">&#169; Tokyo RubyKaigi 12 Team.</div>
</footer>
