---
---

<style>
  footer {
    width: 100%;
    padding: 24px;
    background: #dd451d;
    color: #fff;
  }

  footer .copyright {
    width: 100%;
    text-align: center;
  }
</style>

<footer>
  <div class="copyright">&#169; Tokyo RubyKaigi 12 Team.</div>
</footer>
