---
import PrimaryLogoRedImage from "../../imgs/primary_logo_red.png";
import XLogoBlackImage from "../../imgs/x-logo-black.png";
---

<header>
  <div class="logo">
    <img src={PrimaryLogoRedImage.src} alt="Tokyo RubyKaigi 12" />
  </div>
  <nav>
    <ul>
      <li>
        <a href="./policy.html">Policy</a>
      </li>
      <li>
        <a href="https://salvia.hall-info.jp/about/#access" target="_blank">
          Access
        </a>
      </li>
      <li>
        <a href="https://x.com/tokyork12" target="_blank">
          <img src={XLogoBlackImage.src} alt="X logo" width="24" height="24" densities={[2,2]} />
        </a>
      </li>
    </ul>
  </nav>
</header>
