---
import Head from "./Head.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { title, twitter_card } = Astro.props;
---

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300..700&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: #000;
  }

  body {
    width: 100%;
    font-family: "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
</style>

<html lang="ja">
  <head>
    <Head title={title} twitter_card={twitter_card} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
