---
---

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #fcece8;
    padding-bottom: 200px;
  }
  @media screen and (width <= 960px) {
    main {
      padding: 48px 0 80px 0;
    }
  }
  @media screen and (width <= 480px) {
    main {
      padding: 48px 0 80px 0;
    }
  }
</style>

<main>
  <slot />
</main>
