---
---

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    background-color: #fcece8;
  }
  @media screen and (width <= 960px) {
    main {
      padding: 24px 0;
    }
  }
</style>

<main>
  <slot />
</main>
