---
const {backgroundColor = "#f5f5f5"} = Astro.props;
---

<style define:vars={{backgroundColor}}>
  .minipanel {
    border-radius: 24px;
    padding: 24px;
    background-color: var(--backgroundColor);
    height: 100%;
  }
</style>

<div class="minipanel">
  <slot/>
</div>
