---
import PanelHeader from "./PanelHeader.astro";
const { title } = Astro.props;
---

<style>
  .panel {
    display: flex;
    align-items: center;
    padding: 32px 24px;
    border-radius: 32px;
    background-color: #fff;
  }
  @media screen and (width <= 960px) {
    .panel {
      padding: 32px 16px;
      border-radius: 0;
    }
  }

  .inner {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
  }
</style>

<div class="panel">
  <div class="inner">
    <PanelHeader title={title} />
    <slot />
  </div>
</div>
