---
const { title } = Astro.props;
---

<style>
  .header {
    text-align: center;
    margin-bottom: 24px;

    h2 {
      font-family: "Futura", "Jost", sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 53px;
      vertical-align: middle;
      color: #dd451d;
    }
  }
</style>

<div class="header">
  <h2 lang="en">{title}</h2>
</div>
