---
import PanelHeader from "./PanelHeader.astro";
const { title, subtitle } = Astro.props;
---

<style>
  .panel {
    margin-top: 48px;
    width: min(1132px, 100% - 40px);
    margin-left: auto;
    margin-right: auto;
    padding: 48px 96px;
    border-radius: 32px;
    background-color: #fff;
  }
  @media screen and (width <= 960px) {
    .panel {
      padding: 32px 24px;
    }
  }
  @media screen and (width <= 480px) {
    .panel {
      width: 100%;
      border-radius: 0;
      margin: 0;
      padding: 32px 24px;
    }
  }
</style>

<div class="panel">
  <PanelHeader title={title} subtitle={subtitle} />
  <slot />
</div>
