---
import Layout from "../components/Layouts/Layout.astro";
import Main from "../components/Layouts/Main.astro";
import Panel from "../components/Layouts/Panel.astro";
import Member from "../components/staff/Member.astro";
import PanelHeader from "../components/Layouts/PanelHeader.astro";

const title = "スタッフ | 東京Ruby会議12";
const twitter_card = "summary_large_image";
---

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>

<Layout title={title} twitter_card={twitter_card}>
  <Main>
    <Panel title="Organizers" subtitle="実行委員">
      <div class="container">
        <Member
          name="Daisuke Aritomo"
          md5Email="0a675bac15087f05fbd68411c2a603ce"
          githubID="osyoyu"
          xID="osyoyu"
          label="organizer"
        />
        <Member
          name="Natsuko Nadoyama"
          md5Email="0351727b99b749cc07e5a4601646284d"
          githubID="pndcat"
          xID="pndcat"
          label="organizer"
        />
        <Member
          name="Arisu Maruyama"
          md5Email="c850cbd06664627eb8e41cdff4a544b9"
          githubID="alitaso345"
          xID="alitaso346"
          label="organizer"
        />
        <Member
          name="Takahito Sueda"
          md5Email="2fda10ff8dccf267309cb551841e96c0"
          githubID="terfno"
          xID="terfno_mai"
          label="organizer"
        />
        <Member
          name="Atsushi Katsuura"
          md5Email="31bd6f01896a7c8f449b01bfa4bc1fe6"
          githubID="ikaruga777"
          xID="UVB_76"
          label="organizer"
        />
      </div>
      <PanelHeader title="Designer" subtitle="デザイナー" />
      <div class="container">
        <Member
          name="Minami Ouchi"
          ImageSrc="https://pbs.twimg.com/profile_images/1641413241451716609/ggaJn54v_400x400.jpg"
          xID="mnmouchi"
        />
      </div>
    </Panel>
    <!-- <Panel title="Helper" subtitle="ヘルパー"></Panel> -->
  </Main>
</Layout>
