---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../components/Layouts/Layout.astro";
import Main from "../../components/Layouts/Main.astro";

export async function getStaticPaths() {
  const newsEntries = await getCollection("news");
  return newsEntries.map((entry)=>({
    params: {slug: entry.slug},
    propr: {entry}
  }))
}

const {entry} = Astro.props;
const {Content} = await entry.render();

const title = "お知らせ | 東京Ruby会議12";
const twitter_card = "summary_large_image";
---

<Layout>
  <Main>
    <Content />
  </Main>
</Layout>
