---
---

<style>
  .trk12-button {
    display: inline-block;
    border: solid 2px #000;
    border-radius: 4px;
    padding: 16px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<a class="trk12-button">
  <slot/>
</a>
