---
import Panel from "../Layouts/Panel.astro";
---

<Panel title="About" subtitle="東京Ruby会議12について">
  <p>
    東京Ruby会議12は、プログラミング言語Rubyを使ったソフトウェア開発について議論する地域Ruby会議です。東京圏の方を中心にRubyistで一堂に会し、Rubyでのソフトウェア開発・運用などの発表を中心に、知的好奇心が刺激されるカンファレンスとなればと思います。
  </p>
  <p>
    Rubyist同士、そして東京圏に多数息づく "地域.rb"
    をはじめとしたRubyコミュニティ同士の交流の場となることを目指して、東京Ruby会議を開催します。楽しい一日をともに作りましょう！
  </p>
</Panel>
