---
import PrimaryLogoWhiteImage from "../../imgs/primary_logo_white.png";
import TriImage from "../../imgs/tri.png";
import TicketButtonBefore from "./TicketButtonBefore.astro";
import TicketButtonSelling from "./TicketButtonSelling.astro";
import InterNav from "./InterNav.astro";

function isTicketOpen(): boolean {
  return true;
}
---

<style>
  .hero {
    width: 100%;
  }

  .hero .hero-inner {
    width: min(1132px, 100% - 40px);
    margin-left: auto;
    margin-right: auto;
    padding: 32px 98px;
    border-radius: 32px 32px 0 0;
    background: #dd451d;
    color: #fff;
    text-align: center;
  }
  @media screen and (480px < width <= 700px) {
    .hero .hero-inner {
      padding: 32px 48px;
    }
  }
  @media screen and (width <= 480px) {
    .hero .hero-inner {
      padding: 32px 20px;
    }
  }

  .hero .hero-inner .primary-logo {
    width: 80%;
    height: auto;
  }
  @media screen and (width <= 480px) {
    .hero .hero-inner .primary-logo {
      width: 100%;
      height: auto;
    }
  }

  .hero .hero-inner .info {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .datetime {
      font-family: "Futura", "Jost", sans-serif;
      font-weight: 500;

      font-size: 36px;
      line-height: 48px;
      font-weight: 500;
    }
    @media screen and (width <= 480px) {
      .datetime {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .location {
      a,
      p {
        color: #fff;
        text-decoration: none;
      }

      .inner {
        .en {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 4px;

          p {
            font-family: "Futura", "Jost", sans-serif;
            font-weight: 500;
            font-size: 26px;
            line-height: 36px;
          }
          @media screen and (width <= 480px) {
            p {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .ja {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2px;

          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
          @media screen and (width <= 480px) {
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }

    .organizing-team {
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
      }
      @media screen and (width <= 480px) {
        a {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
</style>

<div class="hero">
  <div class="hero-inner">
    <h1>
      <img
        src={PrimaryLogoWhiteImage.src}
        alt="Tokyo RubyKaigi 12"
        class="primary-logo"
      />
    </h1>
    <div class="info">
      <div class="datetime">2025.1.18 (Sat.) 11:00〜18:00</div>
      <div class="location">
        <a
          href="https://salvia.hall-info.jp/about/#access"
          target="_blank"
          rel="noopener noreferrer"
          class="inner"
        >
          <div class="ja">
            <p>横浜市鶴見区民文化センター</p><p>サルビアホール</p>
          </div>
          <div class="en">
            <p>Tsurumi Cultural Center</p><p>"Salvia Hall"</p>
          </div>
        </a>
      </div>
      <div class="organizing-team">
        <a href={`${import.meta.env.BASE_URL}/staff/`}>
          Organized by the Tokyo RubyKaigi 12 Team
        </a>
      </div>
    </div>
    {isTicketOpen() ? <TicketButtonSelling /> : <TicketButtonBefore />}
    <div>
      <img src={TriImage.src} alt="" />
    </div>
  </div>
</div>
<InterNav />
