---
import Panel from "../Layouts/Panel.astro";
import KeynoteSpeaker from "./KeynoteSpeaker.astro";

import JhawthornImage from "../../imgs/jhawthorn.jpg";
import EagletmtImage from "../../imgs/eagletmt.jpg";
---

<Panel title="Keynote Speakers">
  <div class="inner">
    <KeynoteSpeaker
      iconSrc={JhawthornImage.src}
      iconAlt="John Hawthorn's icon"
      name="John Hawthorn"
      githubID="jhawthorn"
      xID="jhawthorn"
    >
      <p>
        John is a Ruby Committer and a Rails Core member, and a Staff Engineer at
        GitHub focusing on performance and scalability. He's based in Victoria,
        Canada.
      </p>
      <p>
        RubyコミッターとRails
        Coreメンバーであり、GitHubにてパフォーマンスとスケーラビリティに取り組むスタッフエンジニア。カナダのビクトリア在住。
      </p>
    </KeynoteSpeaker>
    <KeynoteSpeaker
      iconSrc={EagletmtImage.src}
      iconAlt="Kohei Suzuki's icon"
      name="Kohei Suzuki"
      githubID="eagletmt"
      xID="eagletmt"
    >
      <p>
        クックパッドの SRE。開発者の生産性向上に興味がある。Ruby と Rust が好き。
      </p>
    </KeynoteSpeaker>
  </div>
</Panel>

<style>
  .inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
