---
import Panel from '../Layouts/Panel.astro';
import NewsTemplate from './Template.astro';
---

<Panel title="News" subtitle="お知らせ">
  <NewsTemplate date="2024.10.23">
    連絡先メールアドレスを新設しました。<br />
    <a href="mailto:team@tokyorubykaigi12.org">team@tokyorubykaigi12.org</a><br />
    （旧メールアドレス (googlegroups.org) も引き続き受信しますが、こちらを利用いただけますと幸いです。）
  </NewsTemplate>
  <NewsTemplate date="2024.10.17">
    チケットの販売を開始しました！ 詳しくは販売ページをご確認ください。懇親会の参加には本編チケットとは別に懇親会チケットのご購入が必要になります。<br />
    <ul>
      <li><a href="https://ti.to/tokyorubykaigi12/conference">本編チケット販売ページ</a></li>
      <li><a href="https://ti.to/tokyorubykaigi12/party">懇親会チケット販売ページ</a></li>
    </ul>
  </NewsTemplate>
  <NewsTemplate date="2024.10.1">
    スポンサーシップの募集を開始しました。申込みの締め切りは 10/22
    となります。<a href="https://tokyorubykaigi12.s3.ap-northeast-1.amazonaws.com/tokyorubykaigi12-sponsorship-prospectus.pdf">
      スポンサーシップ募集要項
    </a>をお読みの上、どうぞご検討ください！<br />
    募集枠に限りのありますRuby, Goldプランについては、申込み多数の場合抽選を実施いたします。
  </NewsTemplate>
  <NewsTemplate date="2024.9.29">
    発表の募集を開始しました。
  </NewsTemplate>
  <NewsTemplate date="2024.9.24">
      <a href="https://tokyorubykaigi12.s3.ap-northeast-1.amazonaws.com/tokyorubykaigi12-sponsorship-prospectus.pdf">
        スポンサーシップ募集要項
      </a>を公開しました。
  </NewsTemplate>
  <NewsTemplate date="2024.8.31">
    <div>Twitterアカウント <a href="https://x.com/tokyork12">
      @tokyork12
    </a> をよろしくお願いします</div>
  </NewsTemplate>
  <NewsTemplate date="2024.8.5">
    <div>東京Ruby会議12 Webサイト（仮）公開！</div>
  </NewsTemplate>
</Panel>
