---
import MiniPanel from "../Layouts/MiniPanel.astro";
import ArrowUpRightFromSquareIcon from "../icons/arrow-up-right-from-square.svg";
---

<style>
  .call-for-sponsors {
    font-family: "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .call-for-sponsors .title {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .call-for-sponsors .title h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .call-for-sponsors .title .pill {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    height: fit-content;
    border-radius: 4px;
    padding: 4px 16px;
    background-color: #dd451d;
    color: #fff;
    vertical-align: middle;
  }

  .call-for-sponsors .text {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
  }

  .call-for-sponsors .prospectus {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  .trk12-button {
    display: inline-block;
    border: solid 2px #000;
    border-radius: 4px;
    padding: 16px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    .button-inner {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;

      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
</style>

<MiniPanel backgroundColor="#f5f5f5">
  <div class="call-for-sponsors">
    <div class="title">
      <h3>スポンサーシップ募集について</h3>
      <span class="pill">募集中</span>
    </div>
    <div class="text">東京Ruby会議12ではスポンサー企業さまを募集しています。</div>
    <div class="prospectus">
        <a
          href="https://tokyorubykaigi12.s3.ap-northeast-1.amazonaws.com/tokyorubykaigi12-sponsorship-prospectus.pdf"
          target="_blank"
        >
          募集要項 (PDF)
        </a><img src={ArrowUpRightFromSquareIcon.src} height="20" />
    </div>
    <div>
      <a
        href="https://sponsorships.tokyorubykaigi12.org/conferences/tokyorubykaigi12/sponsorship/new"
        target="_blank"
        class="trk12-button"
      >
        <div class="button-inner">
          <p>スポンサーシップを申込む</p>
          <img src={ArrowUpRightFromSquareIcon.src} height="20" />
        </div>
      </a>
    </div>
  </div>
</MiniPanel>
