---
type Company = {
  logoImageSrc: string;
  name: string;
  link: string;
  description: string;
};

interface Props {
  grade: "Ruby" | "Gold" | "Silver";
  company: Company;
}

const { grade, company } = Astro.props;

const RubyLargeSize = "320px";
const RubySmallSize = "240px";
const GoldLargeSize = "240px";
const GoldSmallSize = "200px";
const SilverLargeSize = "160px";
const SilverSmallSize = "160px";
---

<div class:list={["logo", grade]}>
  <img src={company.logoImageSrc} alt={company.name} />
</div>

<style
  define:vars={{
    RubyLargeSize,
    RubySmallSize,
    GoldLargeSize,
    GoldSmallSize,
    SilverLargeSize,
    SilverSmallSize,
  }}
>
  .logo {
    background-color: #fff;

    border-radius: 4px;
    overflow: hidden;
  }

  .Ruby {
    img {
      width: var(--RubyLargeSize);
      height: var(--RubyLargeSize);
    }
    @media screen and (width <= 960px) {
      img {
        width: var(--RubySmallSize);
        height: var(--RubySmallSize);
      }
    }
  }
  .Gold {
    img {
      width: var(--GoldLargeSize);
      height: var(--GoldLargeSize);
    }
    @media screen and (width <= 960px) {
      img {
        width: var(--GoldSmallSize);
        height: var(--GoldSmallSize);
      }
    }
  }
  .Silver {
    img {
      width: var(--SilverLargeSize);
      height: var(--SilverLargeSize);
    }
    @media screen and (width <= 960px) {
      img {
        width: var(--SilverSmallSize);
        height: var(--SilverSmallSize);
      }
    }
  }
</style>
