---
type Company = {
  logoImageSrc: string;
  name: string;
  link: string;
  description: string;
};

interface Props {
  grade: "Ruby" | "Gold" | "Silver";
  company: Company;
}

const { grade, company } = Astro.props;

const RubyLargeSize = "320px";
const RubySmallSize = "240px";
const GoldLargeSize = "240px";
const GoldSmallSize = "200px";
const SilverLargeSize = "160px";
const SilverSmallSize = "160px";
---

<div class:list={["logo", grade]}>
  <img src={company.logoImageSrc} alt={company.name} />
</div>

<style
  define:vars={{
    RubyLargeSize,
    RubySmallSize,
    GoldLargeSize,
    GoldSmallSize,
    SilverLargeSize,
    SilverSmallSize,
  }}
>
  .logo {
    background-color: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .Ruby {
    width: var(--RubyLargeSize);
    height: var(--RubyLargeSize);
  }
  @media screen and (width <= 960px) {
    .Ruby {
      width: var(--RubySmallSize);
      height: var(--RubySmallSize);
    }
  }

  .Gold {
    width: var(--GoldLargeSize);
    height: var(--GoldLargeSize);
  }
  @media screen and (width <= 960px) {
    .Gold {
      width: var(--GoldSmallSize);
      height: var(--GoldSmallSize);
    }
  }

  .Silver {
    width: var(--SilverLargeSize);
    height: var(--SilverLargeSize);
  }
  @media screen and (width <= 960px) {
    .Silver {
      width: var(--SilverSmallSize);
      height: var(--SilverSmallSize);
    }
  }
</style>
