---
import Panel from "../Layouts/Panel.astro";
import CallForSponsors from "./CallForSponsors.astro";
import Sponsor from "../sponsors/Sponsor.astro";

// Silvers
import AcechildLogoImage from "./logos/as-child.com.svg";
import EnishitechLogoImage from "./logos/enishi-tech.com.svg";
import CodetaktLogoImage from "./logos/codetakt.com.jpg";
---

<Panel title="Sponsors" subtitle="スポンサー">
  <div class="inner">
    <!-- <div class="ruby">
      <h3>Ruby Sponsors</h3>
      <Sponsor
        grade="Ruby"
        label="Custom Sponsor Label"
        company={{
          logoImageSrc: "Image.src",
          name: "Company Name",
          link: "https://example.com/",
          description: "Description of the company",
        }}
      />
    </div>
    <div class="gold">
      <h3>Gold Sponsors</h3>
      <Sponsor
        grade="Gold"
        label="Custom Sponsor Label"
        company={{
          logoImageSrc: "Image.src",
          name: "Company Name",
          link: "https://example.com/",
          description: "Description of the company",
        }}
      />
    </div> -->
    <h3>Silver Sponsors</h3>
    <div class="silver">
      <!-- <Sponsor
        grade="Silver"
        company={{
          name: "Company Name",
          logoImageSrc: Image.src,
          link: "https://example.com/",
          description: "Description of the company",
        }}
      /> -->
      <!-- <Sponsor
        grade="Silver"
        company={{
          name: "フィヨルドブートキャンプ",
          logoImageSrc: "Image.src", // TODO: Add image
          link: "https://bootcamp.fjord.jp",
          description: "フィヨルドブートキャンプは、現場の即戦力になれるプログラミングスクールです。有名書籍の著者や、オープンソースコミュニティで活躍している現役のプログラマーから実践的な内容を学ぶ事ができます。",
        }}
      /> -->
      <Sponsor
        grade="Silver"
        company={{
          name: "エースチャイルド株式会社",
          logoImageSrc: AcechildLogoImage.src,
          link: "https://www.as-child.com/",
          description: "エースチャイルドは子ども達を守るために、子ども達が安心安全に育つことができる社会を実現するために、ITのチカラで明るい未来を作る会社です。 社員全員フルリモートで働いています。",
        }}
      />
      <Sponsor
        grade="Silver"
        company={{
          name: "株式会社えにしテック",
          logoImageSrc: EnishitechLogoImage.src,
          link: "https://www.enishi-tech.com/",
          description: "えにしテックは、ソフトウェア開発、コンサルティング、教育の領域でサービスを提供します。ひと、プロセス、プロダクトがいきいきとするように。縁を紡ぐ技術の力で、お客様のビジネスの継続的な進化を支援します。",
        }}
      />
      <Sponsor
        grade="Silver"
        company={{
          name: "株式会社コードタクト",
          logoImageSrc: CodetaktLogoImage.src,
          link: "https://codetakt.com/",
          description:
            "『総合性×先進性=オンリーワン』の授業支援クラウドです。ネットが遅くても、３クリックでサクサク動き、どんな学びもAI・データの活用で先生の見取りをサポートします。振り返りAI分析、9000以上のテンプレートなど豊富な機能があります。",
        }}
      />
    </div>
    <CallForSponsors />
  </div>

  <style>
    .inner {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 43px;
    }

    .ruby {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .gold {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .silver {
      display: flex;
      gap: 48px;
      flex-wrap: wrap;
    }
  </style>
</Panel>
