---
import Panel from "../Layouts/Panel.astro";
import Sponsor from "../sponsors/Sponsor.astro";

// Rubys
import TwogateLogoImage from "./logos/twogate.com.svg";
import CookpadLogoImage from "./logos/cookpad.svg";
import LivesenseLogoImage from "./logos/livesense.co.jp.svg";

// Golds
import SmarthrLogoImage from "./logos/SmartHR.svg";
import TimeeLogoImage from "./logos/timee.svg";
import AndpadLogoImage from "./logos/ANDPAD.svg";
import HacomonoLogoImage from "./logos/hacomono.svg";

// Silvers
import TopotalLogoImage from "./logos/topotal.svg";
import FBCLogoImage from "./logos/FBC.svg";
import AcechildLogoImage from "./logos/as-child.com.svg";
import EnishitechLogoImage from "./logos/enishi-tech.com.svg";
import ESMLogoImage from "./logos/esm.svg";
import SmartbankLogoImage from "./logos/smartbank.co.jp.svg";
import CodetaktLogoImage from "./logos/codetakt.com.svg";
import BloomoLogoImage from "./logos/bloomo.svg";
import StoresLogoImage from "./logos/STORES.svg";
import LinkersLogoImage from "./logos/linkers.net.svg";
import MovLogoImage from "./logos/mov.svg";
import NaclLogoImage from "./logos/nacl-logo.svg";
import EsaLogoImage from "./logos/esa.svg";
import M3CareerLogoImage from "./logos/m3career.svg";
import Route06LogoImage from "./logos/route06.svg";
import GifteeLogoImage from "./logos/giftee.svg";
import AnglersLogoImage from "./logos/anglers.svg";
import RniLogoImage from "./logos/rni.svg";
import LuxiarLogoImage from "./logos/luxiar.svg";
import RentioLogoImage from "./logos/rentio.svg";
---

<Panel title="Sponsors" subtitle="スポンサー">
  <div class="inner">
    <div class="ruby">
      <h3>Ruby Sponsors</h3>
      <Sponsor
        grade="Ruby"
        company={{
          name: "株式会社TwoGate",
          description:
            "株式会社TwoGateは柔軟な発想と技術力で最高の共創パートナーを目指すエンジニア集団です。Railsを10年以上活用し、自社開発のローコードソリューションと個別開発を組み合わせたサービス提供を得意としています。 ライブエンタメの現場を快適にするソリューションを複数展開し、主に物販、チケットの現場からデジタル化を推進しています。",
          link: "https://twogate.com",
          logoImageSrc: TwogateLogoImage.src,
        }}
      />
      <Sponsor
        grade="Ruby"
        company={{
          name: "クックパッド株式会社",
          description:
            "クックパッド株式会社は「毎日の料理を楽しみにする」をミッションに掲げ、国内で月間約4,800万人が利用し日本を含む世界71カ国・地域、29言語で展開する料理レシピ投稿・検索サービス「クックパッド」、生鮮食品オンライン市場「クックパッドマート」料理のパーソナルコーチングサービス「moment」などを運営する、料理とテクノロジーの会社です。",
          link: "https://cookpad.careers/",
          logoImageSrc: CookpadLogoImage.src,
        }}
      />
      <Sponsor
        grade="Ruby"
        company={{
          name: "転職ドラフト(株式会社リブセンス)",
          description:
            "「エンジニアの価値は世界が決める」 転職ドラフトは、レジュメを登録すると企業から年収付きの指名が届く、ITエンジニア向けの転職サービスです。 ITエンジニアが「自身の客観的な市場価値」を判断する機会はきわめて限られています。 社内における評価は、あくまでその会社の評価基準や年収水準に沿ったものに過ぎず、 転職活動は市場価値を測る数少ない機会のひとつですが、そこでも現年収を参考に年収提示がされることが少なくありません。 転職ドラフトは、このような評価におけるバイアスを排除し「エンジニアが実力を正当に評価され、見合った報酬を得られる」シンプルな世界の実現を目指しています。 大手・メガベンチャー・スタートアップなど利用企業数は累計700社以上。転職活動中から情報収集段階の方まで毎月約600人のITエンジニアが参加。 挑戦的なキャリア形成の登竜門としてご利用いただけるよう、日々提供価値を拡充しています。",
          link: "https://job-draft.jp/",
          logoImageSrc: LivesenseLogoImage.src,
        }}
      />
    </div>
    <div class="gold">
      <h3>Gold Sponsors</h3>
      <Sponsor
        grade="Gold"
        company={{
          name: "株式会社SmartHR",
          description:
            "「SmartHR」は、人事・労務の業務効率化と、データ活用によるタレントマネジメントや組織のパフォーマンス向上を実現するクラウド人事労務ソフトです。労働にまつわる社会課題をなくし、誰もがその人らしく働ける社会の実現を目指し、働くすべての人の生産性向上を後押しします。私たちは、歴史に残る模範的なソフトウェアをつくる仲間を探しています。フルリモート勤務可能！",
          link: "https://hello-world.smarthr.co.jp/",
          logoImageSrc: SmarthrLogoImage.src,
        }}
      />
      <Sponsor
        grade="Gold"
        company={{
          name: "株式会社タイミー",
          description:
            "「『はたらく』を通じて人生の可能性を広げるインフラをつくる」をミッションに掲げ、スキマバイトアプリ「タイミー」などの事業を展開しております。スポットワークをさらに世の中に広げることで国内の労働市場における課題を解決することを主軸としつつ、「はたらく」に留まらない多様なアプローチで、「一人ひとりの時間を豊かに」する挑戦を続けていきます。",
          link: "https://timee.notion.site/timee/Timee-Product-Org-Entrance-Book-b7380eb4f6954e29b2664fe6f5e775f9",
          logoImageSrc: TimeeLogoImage.src,
        }}
      />
      <Sponsor
        grade="Gold"
        company={{
          name: "株式会社アンドパッド",
          description:
            "ANDPADはクラウド型建設プロジェクト管理プラットフォームで、現場効率化から業務改善まで一元管理できます。20万2000社以上、51万人の毎日の業務を支え、DX化を加速しています。そして多くのプロダクトでRuby/Railsを使用し、Ruby/Railsが建築・建設業界のDXを支えているとも言えます。アンドパッドではRuby/Railsの良さを駆使し、ユーザーの体験に活かせるRubyistを歓迎します。",
          link: "https://engineer.andpad.co.jp/",
          logoImageSrc: AndpadLogoImage.src,
        }}
      />
      <Sponsor
        grade="Gold"
        company={{
          name: "株式会社hacomono",
          description:
            "hacomonoはウェルネス産業向けに入会・予約・決済・会員管理をデジタル化するVertical SaaS企業です。ジュニアスクールからプロアスリート、公共施設まで幅広く導入され、産業のインフラへと成長しています。2025年には健康・運動市場が12.5兆円に達すると予測される中、「スマートウェルネスシティ」の実現に向け、IoT・Fintech・ECを活用した新たな社会課題解決に挑戦します。",
          link: "https://www.hacomono.co.jp/recruit/engineer/",
          logoImageSrc: HacomonoLogoImage.src,
        }}
      />
    </div>
    <div class="silver">
      <h3>Silver Sponsors</h3>
      <div class="inner">
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社Topotal",
            description:
              "Topotal は、「ソフトウェアで余裕を生み出す」をミッションに掲げ、SREを実践を支援をするSRE as a Service、インシデント対応サイクルを支援するインシデントマネジメントSaaS Waroomの2事業を展開しています。",
            link: "https://topotal.com/",
            logoImageSrc: TopotalLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "フィヨルドブートキャンプ",
            logoImageSrc: FBCLogoImage.src,
            link: "https://bootcamp.fjord.jp",
            description:
              "フィヨルドブートキャンプは、現場の即戦力になれるプログラミングスクールです。有名書籍の著者や、オープンソースコミュニティで活躍している現役のプログラマーから実践的な内容を学ぶ事ができます。",
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "エースチャイルド株式会社",
            logoImageSrc: AcechildLogoImage.src,
            link: "https://www.as-child.com/",
            description:
              "エースチャイルドは子ども達を守るために、子ども達が安心安全に育つことができる社会を実現するために、ITのチカラで明るい未来を作る会社です。 社員全員フルリモートで働いています。",
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社えにしテック",
            logoImageSrc: EnishitechLogoImage.src,
            link: "https://www.enishi-tech.com/",
            description:
              "えにしテックは、ソフトウェア開発、コンサルティング、教育の領域でサービスを提供します。ひと、プロセス、プロダクトがいきいきとするように。縁を紡ぐ技術の力で、お客様のビジネスの継続的な進化を支援します。",
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社永和システムマネジメント",
            logoImageSrc: ESMLogoImage.src,
            link: "https://agile.esm.co.jp/",
            description:
              "私たちはアジャイルな開発を20年続けて培った実践知と価値観をもとに、情熱をもってRubyを使ってお客さまに価値を届けます。また、OSS活動、登壇、スポンサーなど様々な形でコミュニティに参加しています。",
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社スマートバンク",
            description:
              "家計簿の 悩みをなくす ビーヨンサン 実はRubyで 作っています",
            link: "https://smartbank.co.jp/recruit/engineer-summary",
            logoImageSrc: SmartbankLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社コードタクト",
            logoImageSrc: CodetaktLogoImage.src,
            link: "https://codetakt.com/",
            description:
              "コードタクトでは『「学び」を革新し、誰もが自由に生きる世界を創る』をミッションに、テクノロジーによる教育の変革を目指しています。Quineだけじゃなく製品にもRubyを使っています。",
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "ブルーモ証券株式会社",
            description:
              "ブルーモ証券は、他の投資家のポートフォリオをコピーして誰でも簡単に本格的な米国株・ETFでの資産運用ができるアプリ「Bloomo」を提供するFintechスタートアップです。",
            link: "https://bloomo.co.jp/",
            logoImageSrc: BloomoLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "STORES 株式会社",
            link: "https://jobs.st.inc/engineer",
            description:
              "STORES 株式会社 は、「Just for Fun」をミッションに、こだわりや情熱、たのしみによって駆動される経済の発展に寄与することを目指し、お店のデジタル化を総合的に支援するサービスを展開しています。",
            logoImageSrc: StoresLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "リンカーズ株式会社",
            description:
              "リンカーズは「マッチングで世界を変える」をミッションに、製造業のパートナー探索・マッチングプラットフォームの提供など、ものづくりの生産性を最大化するためのビジネスマッチングサービスを提供しています。",
            link: "https://corp.linkers.net/",
            logoImageSrc: LinkersLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社mov",
            description:
              "株式会社mov は、「日本のポテンシャルを最大化する」を使命として掲げ「インバウンド事業」「店舗支援事業」の2事業を展開しています。 movは活気のある日本を取り戻すために存在していきます。",
            link: "https://mov.am/",
            logoImageSrc: MovLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社ネットワーク応用通信研究所",
            description:
              "株式会社ネットワーク応用通信研究所(NaCl)はまつもとゆきひろさんと共に、2001年からお客様のためにRubyアプリケーションを開発してきました。NaClにはRuby/FLOSSが好きなメンバーが集まっています。",
            link: "https://www.netlab.jp/ ",
            logoImageSrc: NaclLogoImage.src,
          }}
        />
        <Sponsor
          label="Tools Sponsor"
          grade="Silver"
          company={{
            name: "合同会社esa",
            description:
              "esa は 自律的なチームを応援するドキュメント共有サービスです。WIP で気軽に共有し、みんなで育てよう(\\( ⁰⊖⁰)/) 当日はツルっぽいesaステッカーを配布したいです",
            link: "https://esa.io/",
            logoImageSrc: EsaLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "エムスリーキャリア株式会社",
            description:
              "私たちエムスリーキャリアは、医療人材と経営支援、そして健康経営の3つの領域でそれぞれが抱える課題を解決し、健康社会の実現に貢献します。",
            link: "https://www.m3career.com/",
            logoImageSrc: M3CareerLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社ROUTE06",
            description:
              "ROUTE06は、エンタープライズ・ソフトウェア基盤の提供とアジャイルでの事業化支援によって商取引のプラットフォーム化を実現し、新たな企業価値を生み出すことに貢献します。",
            link: "https://route06.com/",
            logoImageSrc: Route06LogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社ギフティ",
            description:
              "ギフティは、ギフト市場全体において事業展開を行なっています。機能面と情緒面とのバランスを取りギフトを様々な領域に掛け算しプロダクトを実現する事でギフトを通じキモチが循環する社会の実現を目指しています。",
            link: "https://giftee.co.jp/",
            logoImageSrc: GifteeLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社アングラーズ",
            description: "アングラーズは「釣りで人生を豊かに」をビジョンに掲げ、釣り人同士が繋がる釣りSNSを運営しています。スマホで釣船を予約できる「アングラーズ釣船予約」をはじめ、釣り業界全体のDX化に取り組んでいます。",
            link: "https://corp.anglers.jp/recruit/",
            logoImageSrc: AnglersLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社リサーチ・アンド・イノベーション",
            description: "消費者と企業をデータでつなぎ、より便利な世界の実現に貢献する会社です。 Ruby を活用し「CODE」ほか各種サービスを提供しています。Ruby や Ruby on Rails へ貢献していきたいです。",
            link: "https://r-n-i.jp/",
            logoImageSrc: RniLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "株式会社ラグザイア",
            description: "ラグザイアはRuby on RailsとC#に特化した町田の受託開発企業です。フルリモートでの開発を積極的に推進しており、全国からの参加を可能にしています。柔軟な働き方で最新のソフトウェアソリューションを提供します。",
            link: "https://www.luxiar.com/",
            logoImageSrc: LuxiarLogoImage.src,
          }}
        />
        <Sponsor
          grade="Silver"
          company={{
            name: "レンティオ株式会社",
            description: "レンティオでは『不要な「所有」を減らし、価値ある「体験」を増やしたい』というミッションのもと、家電やカメラを気軽にレンタルできるサービス「レンティオ」を運営しています。",
            link: "https://www.rentio.jp/",
            logoImageSrc: RentioLogoImage.src,
          }}
        />
        <!-- <Sponsor
          grade="Silver"
          company={{
            name: "",
            description: "",
            link: "",
            logoImageSrc: "",
          }}
        /> -->
      </div>
    </div>
  </div>

  <style>
    .inner {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    h3 {
      font-family: "Futura", "Jost", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 43px;
    }

    .ruby {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .gold {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .silver {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
      }
      @media screen and (width <= 960px) {
        .inner {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  </style>
</Panel>
